# FOLDERS

_site
_drafts
_rmds

# JEKYLL
.sass-cache
.jekyll-metadata
.sass-cache/
.jekyll-metadata

# BASH SCRIPTS

*.sh

# R THINGS and OTHER FILES

.DS_Store
.Rhistory
.Rdata
.Rproj.user
*.Rproj
notes.txt